:root{
    --var-primary: #FF8000;
    --var-secondary: #47C7FC;

    --var-button: #000000;
    --var-button-hover: #BFB0A0;

    --var-text-light: #FFFFFF;
    --var-text-black: #000000;

    
    --var-container-back: lightgrey;
    --var-f1-grey: rgb(148, 148, 152);
    --var-f1-grey2: rgb(84, 84, 89);

}



header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    background-color: var(--var-primary);
    color: var(--var-button);
    padding: 0.5rem;
    height: 3rem;
}

header img {
    margin-top: 0.5rem;
}

header h2 {
    display: flex;
    margin: 0.5rem 0 0 0; 
    grid-column: 2;
    align-content: center;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--var-button);
    color: var(--var-text-light);
    font-weight: 900;
    height: 2rem;
    width: 5rem;
    padding: 0.5rem 0.4rem;
    margin: auto;
    border-radius: 0.75rem;
}

button:hover {
    background-color: var(--var-button-hover);
}

#home_button{
    grid-column: 3;
}

#favourites_button{
    grid-column: 4;
}

#home_view{
    border: solid 6px var(--var-primary);
}

#container, #home_view, #race_view{
    display: flex;
    flex-direction: row;  
    height: 650px;
    margin-top: 0.5rem;  
}

#content_area {
    display: flex;
    flex-direction: column;  
    margin: 1rem;
}

#select_szn {
    display: flex;
}

select {
    height: 2rem;
    padding: 0 1.5rem 0 0.2rem;
    margin: 0.9rem 0 0 0.5rem;
}

#car_img {
    width: 75%;
    align-items: right;
    margin: 0.5rem;
}

#race_view{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 650px;
}

#race_container, #results_container, #results_image{
    border: solid 6px var(--var-primary);
    align-items: center;

}

#results_container, #results_image{
    width: 75%;
}

#race_info_container {
    display: flex;
    flex-direction: row;
    height: 88%;
}

.titles {
    text-align: center;
    width: 100%;
    height: 1rem;
    background-color: var(--var-primary);
    color: var(--var-text-black);
    margin: 0;
    padding: 1rem 0;
}

#results_container p {
    height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}

#races, #results, #qualifying {
    background-color: var(--var-secondary);
    height: 100%;
    width: 100%;
    text-align: center;
}

#results, #qualifying {
    padding: 0 0.5rem 0 0.5rem;
}

#text {
    margin: 0.5rem 0;
    font-weight: 900;
}

#qualifying {
    margin-right: 0.25rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px;
    width: 100%;
}

#results {
    margin-left: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Scrollable Items */
#race_container {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px;
}


#results_driver_table {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px;
    width: 100%;
    margin: 3% 0; 
}

/*Qualifying table*/

#podium {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.podium_Box
{
    color: var(--var-text-black);
    background-color: var(--var-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.podium_Box img {
    max-width: 100%; /* Ensures image scales with the container */
    max-height: 100px; 
    object-fit: cover; /* Keeps image aspect ratio within the given dimensions */
}

.number_overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 1.5rem;
    padding: 2px 5px;
    font-weight: bold;
}

.round_rows {
    height: 3rem;
    width: 100%;
}

tr {
    height: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
}

td, th {
    text-align: center;
}

th{
    position: sticky;
    z-index: 1;
    color:var(--var-f1-grey2);
}

td{
    color: var(--var-text-black);
}

h4 {
    margin: 0.5rem;
}

.hidden{
    display: none !important;
}

.visible{
    display: block;
}

.visibleFlex{
    display: flex;
}